.elementor-2248 .elementor-element.elementor-element-50eb85c6:not(.elementor-motion-effects-element-type-background),
.elementor-2248 .elementor-element.elementor-element-50eb85c6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FF0000;
}

.elementor-2248 .elementor-element.elementor-element-50eb85c6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-50eb85c6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-6e518aad {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-6e518aad .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2em;
}

.elementor-2248 .elementor-element.elementor-element-6e518aad>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-2ff6bcd4 {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-2ff6bcd4 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-2248 .elementor-element.elementor-element-2ff6bcd4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-20e5d314 {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-20e5d314 .elementor-heading-title {
    color: #FF0000;
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-transform: none;
    font-style: italic;
    line-height: 1.2em;
}

.elementor-2248 .elementor-element.elementor-element-20e5d314>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-4abd89c7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-30bd05f img {
    filter: brightness( 100%) contrast( 100%) saturate( 112%) blur( 0px) hue-rotate( 0deg);
    border-radius: 18px 18px 18px 18px;
}

.elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-icon i {
    color: #23A454;
}

.elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-icon svg {
    fill: #23A454;
}

.elementor-2248 .elementor-element.elementor-element-20ad7ba2 {
    --e-icon-list-icon-size: 20px;
}

.elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-text {
    color: #000000;
    padding-left: 0px;
}

.elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-2248 .elementor-element.elementor-element-20ad7ba2>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-3ac26561 {
    text-align: center;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
}

.elementor-2248 .elementor-element.elementor-element-1cc72c8 .elementor-headline {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-1cc72c8 .elementor-headline-dynamic-wrapper path {
    stroke: #39AD00;
}

.elementor-2248 .elementor-element.elementor-element-a93d68b .elementor-headline {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-d7215a0 {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-d7215a0 .elementor-heading-title {
    color: #FF0000;
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.2em;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-2248 .elementor-element.elementor-element-d7215a0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-bd4c310 img {
    filter: brightness( 100%) contrast( 100%) saturate( 112%) blur( 0px) hue-rotate( 0deg);
    border-radius: 18px 18px 18px 18px;
}

.elementor-2248 .elementor-element.elementor-element-12fdb1c6:not(.elementor-motion-effects-element-type-background),
.elementor-2248 .elementor-element.elementor-element-12fdb1c6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E3E1E1;
}

.elementor-2248 .elementor-element.elementor-element-12fdb1c6,
.elementor-2248 .elementor-element.elementor-element-12fdb1c6>.elementor-background-overlay {
    border-radius: 17px 17px 17px 17px;
}

.elementor-2248 .elementor-element.elementor-element-12fdb1c6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-12fdb1c6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-2f044459 {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-2f044459 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.elementor-2248 .elementor-element.elementor-element-3519ee15 {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-3519ee15 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2em;
}

.elementor-2248 .elementor-element.elementor-element-3519ee15>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-70b82b55 .eael-contact-form-7 .wpcf7-not-valid-tip {
    display: block !important;
}

.elementor-2248 .elementor-element.elementor-element-70b82b55 .eael-contact-form-7 .wpcf7-validation-errors {
    display: block !important;
}

.elementor-2248 .elementor-element.elementor-element-70b82b55 .eael-contact-form {
    border-radius: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-70b82b55 .eael-contact-form-7 .wpcf7-form p:not(:last-of-type) .wpcf7-form-control-wrap {
    margin-bottom: 0px;
}

.elementor-2248 .elementor-element.elementor-element-70b82b55 .eael-contact-form-7 .wpcf7-form input[type="submit"] {
    background-color: #13C255;
    color: #FFFFFF;
    border-radius: 42px 42px 42px 42px;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-2248 .elementor-element.elementor-element-797ea3d1:not(.elementor-motion-effects-element-type-background),
.elementor-2248 .elementor-element.elementor-element-797ea3d1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9E9E9;
}

.elementor-2248 .elementor-element.elementor-element-797ea3d1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-797ea3d1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-e6adedf {
    text-align: center;
    color: #0007BC;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
}

.elementor-2248 .elementor-element.elementor-element-8890162 img {
    filter: brightness( 100%) contrast( 100%) saturate( 112%) blur( 0px) hue-rotate( 0deg);
    border-radius: 18px 18px 18px 18px;
}

.elementor-2248 .elementor-element.elementor-element-5cefd0f img {
    filter: brightness( 100%) contrast( 100%) saturate( 112%) blur( 0px) hue-rotate( 0deg);
    border-radius: 18px 18px 18px 18px;
}

.elementor-2248 .elementor-element.elementor-element-f40468a {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
}

.elementor-2248 .elementor-element.elementor-element-52a291f6:not(.elementor-motion-effects-element-type-background),
.elementor-2248 .elementor-element.elementor-element-52a291f6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9E9E9;
}

.elementor-2248 .elementor-element.elementor-element-52a291f6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-52a291f6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-d139b4a {
    text-align: center;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.elementor-2248 .elementor-element.elementor-element-afe80d7 {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
}

.elementor-2248 .elementor-element.elementor-element-29ee257f {
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-5fefb332 {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-5fefb332 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-2248 .elementor-element.elementor-element-5fefb332>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-0b6510b img {
    filter: brightness( 100%) contrast( 100%) saturate( 112%) blur( 0px) hue-rotate( 0deg);
    border-radius: 18px 18px 18px 18px;
}

.elementor-2248 .elementor-element.elementor-element-18ff7925 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.elementor-2248 .elementor-element.elementor-element-7a3b3df8 {
    text-align: left;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-2248 .elementor-element.elementor-element-7a3b3df8>.elementor-widget-container {
    margin: 0% 0% 0% 0%;
}

.elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-icon i {
    color: #13C255;
}

.elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-icon svg {
    fill: #13C255;
}

.elementor-2248 .elementor-element.elementor-element-a83f495 {
    --e-icon-list-icon-size: 20px;
}

.elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-text {
    color: #000000;
}

.elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-2248 .elementor-element.elementor-element-a83f495>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-40fc39b2 img {
    filter: brightness( 100%) contrast( 100%) saturate( 112%) blur( 0px) hue-rotate( 0deg);
    border-radius: 18px 18px 18px 18px;
}

.elementor-2248 .elementor-element.elementor-element-7200ce8b:not(.elementor-motion-effects-element-type-background),
.elementor-2248 .elementor-element.elementor-element-7200ce8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E3E1E1;
}

.elementor-2248 .elementor-element.elementor-element-7200ce8b,
.elementor-2248 .elementor-element.elementor-element-7200ce8b>.elementor-background-overlay {
    border-radius: 17px 17px 17px 17px;
}

.elementor-2248 .elementor-element.elementor-element-7200ce8b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-7200ce8b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-3eed913c {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-3eed913c .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.elementor-2248 .elementor-element.elementor-element-657bc6eb {
    text-align: center;
}

.elementor-2248 .elementor-element.elementor-element-657bc6eb .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2em;
}

.elementor-2248 .elementor-element.elementor-element-657bc6eb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-7d1a8c3b .eael-contact-form-7 .wpcf7-not-valid-tip {
    display: block !important;
}

.elementor-2248 .elementor-element.elementor-element-7d1a8c3b .eael-contact-form-7 .wpcf7-validation-errors {
    display: block !important;
}

.elementor-2248 .elementor-element.elementor-element-7d1a8c3b .eael-contact-form {
    border-radius: 0px 0px 0px 0px;
}

.elementor-2248 .elementor-element.elementor-element-7d1a8c3b .eael-contact-form-7 .wpcf7-form p:not(:last-of-type) .wpcf7-form-control-wrap {
    margin-bottom: 0px;
}

.elementor-2248 .elementor-element.elementor-element-7d1a8c3b .eael-contact-form-7 .wpcf7-form input[type="submit"] {
    background-color: #13C255;
    color: #FFFFFF;
    border-radius: 42px 42px 42px 42px;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-2248 .elementor-element.elementor-element-63fa1468:not(.elementor-motion-effects-element-type-background),
.elementor-2248 .elementor-element.elementor-element-63fa1468>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9E9E9;
}

.elementor-2248 .elementor-element.elementor-element-63fa1468 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-63fa1468>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2248 .elementor-element.elementor-element-580c45b2 .elementor-toggle-title,
.elementor-2248 .elementor-element.elementor-element-580c45b2 .elementor-toggle-icon {
    color: #000000;
}

.elementor-2248 .elementor-element.elementor-element-580c45b2 .elementor-toggle-icon svg {
    fill: #000000;
}

.elementor-2248 .elementor-element.elementor-element-580c45b2 .elementor-tab-title.elementor-active a,
.elementor-2248 .elementor-element.elementor-element-580c45b2 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #000000;
}

.elementor-2248 .elementor-element.elementor-element-580c45b2 .elementor-tab-content {
    color: #000000;
}

.elementor-2248 .elementor-element.elementor-element-3a792868 {
    text-align: center;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-2248 .elementor-element.elementor-element-64ff7ee4 {
    text-align: center;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 400;
}

:root {
    --page-title-display: none;
}

body.elementor-page-2248:not(.elementor-motion-effects-element-type-background),
body.elementor-page-2248>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
}

@media(max-width:767px) {
    .elementor-2248 .elementor-element.elementor-element-6e518aad {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-6e518aad .elementor-heading-title {
        font-size: 17px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-2ff6bcd4 {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-2ff6bcd4 .elementor-heading-title {
        font-size: 30px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-20e5d314 {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-20e5d314 .elementor-heading-title {
        font-size: 30px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-4abd89c7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-30bd05f img {
        width: 100%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-2248 .elementor-element.elementor-element-30bd05f>.elementor-widget-container {
        margin: -3px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-20ad7ba2 {
        --e-icon-list-icon-size: 19px;
    }
    .elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2248 .elementor-element.elementor-element-20ad7ba2 .elementor-icon-list-item>a {
        font-size: 20px;
    }
    .elementor-2248 .elementor-element.elementor-element-20ad7ba2>.elementor-widget-container {
        margin: -14px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-3ac26561 {
        text-align: center;
        font-size: 25px;
    }
    .elementor-2248 .elementor-element.elementor-element-3ac26561>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-d7215a0 {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-d7215a0 .elementor-heading-title {
        font-size: 30px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-bd4c310 img {
        width: 100%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-2248 .elementor-element.elementor-element-bd4c310>.elementor-widget-container {
        margin: -3px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-2f044459 .elementor-heading-title {
        font-size: 28px;
        line-height: 1.2em;
    }
    .elementor-2248 .elementor-element.elementor-element-2f044459>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-3519ee15 {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-3519ee15 .elementor-heading-title {
        font-size: 18px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-70b82b55 .eael-contact-form {
        padding: 10px 10px 10px 10px;
    }
    .elementor-2248 .elementor-element.elementor-element-e6adedf {
        text-align: center;
        font-size: 20px;
    }
    .elementor-2248 .elementor-element.elementor-element-e6adedf>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-8890162 img {
        width: 100%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-2248 .elementor-element.elementor-element-8890162>.elementor-widget-container {
        margin: -3px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-5cefd0f img {
        width: 100%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-2248 .elementor-element.elementor-element-5cefd0f>.elementor-widget-container {
        margin: -3px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-f40468a {
        text-align: center;
        font-size: 20px;
    }
    .elementor-2248 .elementor-element.elementor-element-f40468a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-d139b4a {
        text-align: center;
        font-size: 34px;
    }
    .elementor-2248 .elementor-element.elementor-element-d139b4a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-afe80d7 {
        text-align: left;
        font-size: 20px;
    }
    .elementor-2248 .elementor-element.elementor-element-afe80d7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-5fefb332 {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-5fefb332 .elementor-heading-title {
        font-size: 30px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-0b6510b img {
        width: 100%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-2248 .elementor-element.elementor-element-0b6510b>.elementor-widget-container {
        margin: -3px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-18ff7925 {
        font-size: 18px;
    }
    .elementor-2248 .elementor-element.elementor-element-7a3b3df8 {
        font-size: 20px;
    }
    .elementor-2248 .elementor-element.elementor-element-a83f495 {
        --e-icon-list-icon-size: 19px;
    }
    .elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2248 .elementor-element.elementor-element-a83f495 .elementor-icon-list-item>a {
        font-size: 20px;
    }
    .elementor-2248 .elementor-element.elementor-element-a83f495>.elementor-widget-container {
        margin: -14px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-40fc39b2 img {
        width: 32%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-2248 .elementor-element.elementor-element-40fc39b2>.elementor-widget-container {
        margin: -3px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-3eed913c .elementor-heading-title {
        font-size: 28px;
        line-height: 1.2em;
    }
    .elementor-2248 .elementor-element.elementor-element-3eed913c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-657bc6eb {
        text-align: center;
    }
    .elementor-2248 .elementor-element.elementor-element-657bc6eb .elementor-heading-title {
        font-size: 18px;
        line-height: 1.1em;
    }
    .elementor-2248 .elementor-element.elementor-element-7d1a8c3b .eael-contact-form {
        padding: 10px 10px 10px 10px;
    }
    .elementor-2248 .elementor-element.elementor-element-3a792868 {
        text-align: center;
        font-size: 15px;
        line-height: 1.5em;
    }
    .elementor-2248 .elementor-element.elementor-element-3a792868>.elementor-widget-container {
        margin: 14px 0px -26px 0px;
    }
    .elementor-2248 .elementor-element.elementor-element-64ff7ee4 {
        text-align: center;
        font-size: 9px;
    }
}